* {
    font-family: 'Cormorant Garamond', serif;
    /* background: #111111; */
    margin: 0 auto;
}

.container {
    max-width: 1300px;
}

.divider {
    border: 1px solid #FFFFFF;
    width: 1200px;
}